{% extends 'base.html' %}
{% load static %}
{% load core_tags %}
{% load crispy_forms_tags %}
{% block custom_css %}
<style media="screen">
  .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
  }

  .overlay:target {
    visibility: visible;
    opacity: 1;
  }

  .popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
  }

  .popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
  }

  .popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }

  .popup .close:hover {
    color: #06D85F;
  }

  .popup .content {
    max-height: 350px;
    overflow: scroll;
  }
</style>
{% endblock %}
{% block content %}
<div class="">
  <h3>Quiz</h3>
  <h6>{{quiz.title}}</h6>
  <hr>
  <a class="button" href="#popup1">new question</a>
</div>
{% for question in questions %}
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h6 class="card-title">Question - {{forloop.counter}}</h6>
    <b><p class="card-text">{{question.question}}</p></b>
  </div>
  {% if question.image %}
  <img class="card-img-top" src="{{ question.image.url }}" alt="Card image cap">
  {% endif %}
  <ul class="list-group list-group-flush">
    {% for option in question.get_options %}
    <li class="list-group-item" style="background:{% question_answer option.id %};">{{option.option}}</li>
    {% endfor %}
  </ul>
  <div class="card-body">
    <a href="#" class="card-link">edit</a>
    <a href="#{{question.id}}" class="card-link">delete</a>
  </div>
</div>
<br>
{% endfor %}
{% for question in questions %}
  <div id="{{question.id}}" class="overlay">
    <div class="popup">
      <h2>Delete</h2>
      <a class="close" href="#">&times;</a>
      <div class="content">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h6 class="card-title">Question - {{forloop.counter}}</h6>
            <b><p class="card-text">{{question.question}}</p></b>
          </div>
          {% if question.image %}
          <img class="card-img-top" src="{{ question.image.url }}" alt="Card image cap">
          {% endif %}
          <ul class="list-group list-group-flush">
            {% for option in question.get_options %}
            <li class="list-group-item" style="background:{% question_answer option.id %};">{{option.option}}</li>
            {% endfor %}
          </ul>
        </div>
      </div>
      <button type="button" class="btn btn-danger" onclick="window.location.href='{% url 'core:delete_question' quiz.slug  question.id %}'">Delete</button>
    </div>
    </div>
{% endfor %}
<div id="popup1" class="overlay">
  <div class="popup">
    <h2>new question</h2>
    <a class="close" href="#">&times;</a>
    <div class="content">
      <form action="{% url 'core:create_questions' slug=quiz.slug %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{questionform|crispy}}
        <br>
        <h6>Options</h6>
        <div id="myForm" class="myForm">
          {% for form in formset %}
          {{form|crispy}}
          {% endfor %}
        </div>
        {{ formset.management_form }}
        <button type="submit" name="button">Create</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
{% block custom_js %}
<script src="{% static 'formset_bootstrap/js/jquery.formset.js' %}"></script>
<script type="text/javascript">
  $(function() {
    $('#myForm').formset();
  })
</script>
{% endblock %}
